
button {
    padding: 0.5rem 2rem;
    background: blue;
    color: white;
    font-size: 1.5rem;
    border-radius: 1rem;
    
}

.btnSubmit {
    display: flex;
    align-items: center;
    justify-content: center;
}


.btnLogout {
    display: flex;
    align-items: center;
    justify-content: center;
   background: crimson;
}