

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  direction: rtl;
}


.my-form {
  width: 300px;
  padding: 20px;
  background: #f2f2f2;
  border-radius: 10px;
}

.register-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dashbord {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}



